@model IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>TigerTix: @ViewBag.Title</title>
</head>
<body>

    <div class="header">
        TigerTix
    </div>

    

    <form method="post">
        <label>Username:</label>
        <br />
        <input type="text" name="username" />
        <br />
        <label>Firstname:</label>
        <br />
        <input type="text" name="firstname" />
        <br />
        <label>Lastname:</label>
        <br />
        <input type="text" name="lastname" />
        <br />
        <input type="submit" name="Store Name" />
    </form>

    <div class="footer">
        &copy; 2022 PandaExpress Development. All rights reserver.
    </div>

</body>
</html>